<ion-header>
    <ion-toolbar>
        <ion-title>Detalhes</ion-title>
        <ion-buttons slot="secondary">
            <ion-button (click)="fecha()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col size="4"><b>ID:</b></ion-col>
            <ion-col size="8">{{ repositorio.id }}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="4"><b>Nome:</b></ion-col>
            <ion-col size="8">{{ repositorio.name }}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="4"><b>URL:</b></ion-col>
            <ion-col size="8">{{ repositorio.html_url }}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="4"><b>Última atualização:</b></ion-col>
            <ion-col size="8">{{ repositorio.updated_at | date: 'dd/MM/yyyy HH:mm' }}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="4"><b>Score:</b></ion-col>
            <ion-col size="8">{{ repositorio.score }}</ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
